apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
spec:
  secretName: certificate-prod-dashboard
  dnsNames:
    - {{cert_spec_dnsNames}}
  issuerRef:
    name: clusterissuer-self
    kind: ClusterIssuer
