application/save_data_client/target/
application/services/*/target/
application/services/extraction_service/node.tar.xz
application/services/parsing_service/target/
infrastructure/.vagrant
infrastructure/alpine-3.15-amd64-libvirt.box
infrastructure/ansible/roles/base_dependencies/files/*.pem
infrastructure/ansible/roles/base_dependencies/files/*.srl
infrastructure/ansible/roles/docker_images/files/lib/*.sha256
infrastructure/ansible/roles/docker_images/files/lib/*.tar.xz
infrastructure/docker_images/*.sha256
infrastructure/docker_images/*.tar.xz
infrastructure/secure_keys/*.pem
infrastructure/secure_keys/*.srl
