application/save_data_client/target/
application/services/*/target/
application/services/*/*.tar.xz
application/*/*.tar.xz
infrastructure/.vagrant
infrastructure/ansible/roles/base_dependencies/files/*.pem
infrastructure/ansible/roles/base_dependencies/files/*.srl
infrastructure/ansible/roles/docker_images/files/lib/*.sha256
infrastructure/ansible/roles/docker_images/files/lib/*.tar.xz
infrastructure/docker_images/*.sha256
infrastructure/docker_images/*.tar.xz
infrastructure/secure_keys/*.pem
infrastructure/secure_keys/*.srl
