127.0.1.1 {{ inventory_hostname_short }} {{ inventory_hostname }} 

{% for item in groups['datacenter'] %}
{% if inventory_hostname != hostvars[item]['inventory_hostname'] %}
{{ hostvars[item]['ansible_eth1']['ipv4']['address'] }} {{hostvars[item]['inventory_hostname_short'] }} {{hostvars[item]['inventory_hostname'] }}
{% endif %}
{% endfor %}
