127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }} 

{% for item in groups['datacenter'] %}
{% if inventory_hostname != hostvars[item]['inventory_hostname'] %}
{{ hostvars[item]['ansible_eth0']['ipv4']['address'] }} {{hostvars[item]['inventory_hostname'] }} 
{% endif %}
{% endfor %}
