127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}  {{ inventory_hostname }}.{{domain}}

{% for item in groups['datacenter'] %}
{% if inventory_hostname != hostvars[item]['inventory_hostname'] %}
{{ hostvars[item]['ansible_ens6']['ipv4']['address'] }} {{hostvars[item]['inventory_hostname'] }} {{hostvars[item]['inventory_hostname'] }}.{{domain}}
{% endif %}
{% endfor %}
